/* You can add global styles to this file, and also import other style files */
*
	font-family: "Airbnb Cereal App" !important

[class^='margin-'], [class*=" margin-"]
	width: 100%
	height: 100%
	display: block
	margin: 0 auto
	padding: 0 1rem

.margin-960
	max-width: 960px

.margin-680
	max-width: 680px

.login-wrapper
	min-height: 600px
	height: auto
	.login
		.title
			h1
				font-weight: 600
				&:first-of-type
					margin: 0
			h5.hint
				margin: 0