<div class="margin-960">
	<div class="hero">
		<div class="inner">
			<h1>threads</h1>
			<p>simple open source comments api, with no api keys or limits</p>
			<p>
				<a href="/docs" routerLink="/api">docs</a> //
				<a href="/user/login" routerLink="/user/login">login</a> //
				<a href="/user/signup" routerLink="/user/signup">signup</a>
			</p>
		</div>
	</div>
	<div class="clr-row">
		<div class="clr-col-lg-4">
			<div class="card">
				<div class="card-header">Central Account System</div>
				<div class="card-block">
					No matter where Threads is being used, you only need to signup once, and you can
					comment everywhere.
				</div>
			</div>
		</div>
		<div class="clr-col-lg-4">
			<div class="card">
				<div class="card-header">Free</div>
				<div class="card-block">
					Threads is currently free for everyone, without any limits or API keys. Threads
					is also open sourced.
				</div>
			</div>
		</div>
		<div class="clr-col-lg-4">
			<div class="card">
				<div class="card-header">Easy Setup</div>
				<div class="card-block">
					All you have to do is signup, verify your domain and include a JavaScript file
					on your domain.
				</div>
			</div>
		</div>
	</div>
	<div class="c2a">
		<div class="inner">
			<h3>there&rsquo;s nothing more to say</h3>
			<p>try out threads now: <a href="/user/signup" routerLink="/user/signup">signup</a></p>
		</div>
	</div>
</div>
